<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Message Board</title>
    <link rel="stylesheet" href="/sylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="head-contain">
            <h1>The Dojo Message Board</h1>
            <hr>
        </div>
        <form id="post-form" action="/add_post" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="post_name">
            <label for="message">Message:</label>
            <textarea name="message" id="post_message" cols="100" rows="8"></textarea>
            <button type="submit">Post Message</button>

        </form>
        <div class="display-post">
            <% for (let x in post_data) { %>
                <h3>Name:<%= post_data[x].name %></h3>
                <h4>Message: "<%= post_data[x].content %>"</h4>
                <p><%= post_data[x].createdAt %></p>
                <% for (const comment of post_data[x].comments){%>
                    <p><%="Name:" + comment.name %></p>
                    <p><%="Comment:" + comment.content %></p>
                <% } %>
                <form id="comment_form" action="/add_comment/<%= post_data[x]._id %>" method="post">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="comment_name">
                    <label for="comment">Comment:</label>
                    <textarea name="comment" id="post_comment" cols="100" rows="4"></textarea>
                    <button type="submit">Post Comment</button>
                </form>
            <% } %>
        </div>
        
    </div>
</body>
</html>